* {
    font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
    position: relative;
}

h1 {
    font-size: 5rem !important;
}

h2 {
    font-size: 30px !important;
}

.h4::after {
    position: absolute;
    bottom: -15px;
    left: 0;
    border-image: linear-gradient(to right, #5600e0, #e0d500) 1;
    border-bottom: 2px solid #4a00e0;
    width: 14%;
    content: "";
}
.dashboard_heading {
    border-bottom: 1px solid #b2b2b2;
    width: 20%;
}

.main {
    min-height: 80vh;
}

.hero_section {
    position: relative;

    min-height: 100vh;
    background: linear-gradient(to right, #5600e0, #e0d500);
}

.herosection_container {
    position: absolute;
    margin-top: 5%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-img-filter,
.hero-img {
    width: 100%;
    transform: scale(1);
    transition: transform 0.5s;
}

.card-img-filter:hover,
.hero-img:hover {
    opacity: 1;
    transform: scale(1.2);
}

.cover-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("/src/Assets/NewsLetter/scott-webb-6nzYYtJtVDk-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vh;
}

.about-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("/src/Assets/About/joey-banks-YApiWyp0lqo-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
}

.login-page,
.signUp-page {
    background-image: linear-gradient(to right, #5600e0a7, #e0d500bb);
}

.login-form {
    border: p-5;
}

.user-layout {
    display: flex;
    min-height: 90vh;
    border-bottom: 1px solid #b2b2b2;
}

.left {
    width: 30%;
    border-right: 1px solid #b2b2b2;
}

.right {
    width: 70%;
    display: flex;
    flex-direction: column;
}
.nav-item:hover,
.signUp-btn:hover {
    cursor: pointer;
    background-color: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.signUp-btn:hover {
    display: inline-block;
    width: 50%;
    /* padding: 5px; */
}
