* {
    font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
    position: relative;
}

h1 {
    font-size: 4.9rem !important;
}

h2 {
    font-size: 30px !important;
}

.h4::after {
    position: absolute;
    bottom: -15px;
    left: 0;
    border-image: linear-gradient(to right, #5600e0, #e0d500) 1;
    border-bottom: 2px solid #4a00e0;
    width: 14%;
    content: "";
}

.dashboard_heading {
    border-bottom: 1px solid #b2b2b2;
    width: 20%;
}

.main {
    min-height: 80vh;
}

.hero_section {
    position: relative;
    min-height: 80vh;
    background: linear-gradient(to right, #5600e0, #e0d500);
}

.card-img-filter,
.hero-img,
.buycar-img {
    width: 100%;
    transform: scale(0.9);
    transition: transform 0.5s;
}

.card-img-filter:hover,
.hero-img:hover,
.buycar-img:hover {
    opacity: 1;
    transform: scale(1);
}

.cover-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("/src/Assets/NewsLetter/scott-webb-6nzYYtJtVDk-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vh;
}

.about-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("/src/Assets/About/joey-banks-YApiWyp0lqo-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
}
.catagories-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("/src/Assets/About/joey-banks-YApiWyp0lqo-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
}

.login-page,
.signUp-page {
    background-image: linear-gradient(to right, #5600e0a7, #e0d500bb);
}

.login-form {
    border: p-5;
}

.user-layout {
    display: flex;
    min-height: 90vh;
    border-bottom: 1px solid #b2b2b2;
}

.left {
    width: 30%;
    border-right: 1px solid #b2b2b2;
    transition: width 0.3s ease;
}

.menu-minimized .left {
    width: 10%;
}

.right {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.nav-item:hover,
.signUp-btn:hover {
    cursor: pointer;
    background-color: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.signUp-btn:hover {
    display: inline-block;
    width: 50%;
}

.edit-column {
    width: 10%;
    white-space: nowrap;
    padding: 0;
}

.edit-column button {
    width: 100%;
}

/* Add your other CSS styles as needed */

.btn-catagories {
    list-style: none;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    outline: none;
    color: #4e4feb;
}

.btn-catagories:hover {
    background-color: #4e4feb;
    color: white;

    transition: all 0.3s;
}
.categories-p {
    color: #4e4feb;
}

/* ------ Cart ------  */
.cart-model {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border: none;
    outline: none;
    cursor: pointer;
    width: 340px;
    /* width: 80%; */
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 15px;
    z-index: 999;
    display: none;
    transition: opacity 0.3s ease-in-out;
}

.cart-model.open {
    display: block;
    opacity: 1;
}
.cart-content {
    width: 100%;
    word-wrap: break-word;
    font-size: 18px;
    /* position: relative; */
    min-height: 100vh;
}

.cart-content h3 {
    font-size: 15px;
    margin-bottom: 10px;
}

.cart-content li {
    margin-bottom: 8px;
    font-size: 16px;
}

.btn-checkout,
.btn-login {
    position: absolute;
    bottom: 2%;
    width: 85%;
}

.btn-increase:hover,
.btn-decrease:hover,
.btn-close:hover {
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 0px;
}
.li-footer {
    color: #888888;
    text-transform: uppercase;
}
.li-footer:hover {
    color: black;
    transition: all 0.3s;
}
/* Card Container */
.card-container {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

/* Card Form */
.card-form {
    position: relative;
    width: 500px;
    margin: auto;
}

/* Card Input Fields */
.card-input {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Card Button */
.card-button {
    position: absolute;
    bottom: 2%;
    width: 70%;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 0px;
}

/* Error Message */
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}
